[submodule "themes/academic-workshop"]
	path = themes/academic-workshop
	url = https://github.com/aterenin/academic-workshop.git
[submodule "themes/tabi"]
	path = themes/tabi
	url = https://github.com/welpo/tabi.git
